@import 'libs/bootstrap-reboot.min'
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic)

@import 'base/_variables'
@import 'base/_mixins'

*
	font-family: 'Poppins', sans-serif
	box-sizing: border-box
	margin: 0
	padding: 0

.container
	width: 1140px
	margin-right: auto
	margin-left: auto

@import 'blocks/_sidepanel'
@import 'blocks/_menu'
@import 'blocks/_gamburger'
@import 'blocks/_title'
@import 'blocks/_promo'
@import 'blocks/_btn'