@media ( max-width: 1288px )
	.sidepanel
		display: none


@media ( max-width: 1200px )
	.container
		max-width: 960px
	.promo
		background: url("../img/main_bg.jpg") 70%/cover


@media ( max-width: 992px )
	.container
		max-width: 720px
	.promo
		background: url("../img/main_bg.jpg") 70%/cover
		&__title
			width: 420px
			margin: 0
	.title
		&_fz48
			font-size: 36px
			line-height: 60px


@media ( max-width: 768px )
	.container
		max-width: 540px
	.promo
		background: url("../img/main_bg.jpg") 60%/cover
		&__title
			width: 376px
	.menu
		&__block
			width: 250px
			padding-left: 20px
	.title
		&_fz48
			font-size: 26px
			line-height: 39px


@media ( max-width: 576px )
	.container
		width: 100%
		padding: 0 10px
	.promo
		background: url("../img/main_bg.jpg") 56%/cover
		&__title
			width: auto