@media ( max-width: 1288px )
	.sidepanel
		display: none


@media ( max-width: 1200px )
	.container
		max-width: 960px
	.promo
		background: url("../img/main_bg.jpg") 70%/cover
	.about
		&__wrapper
			grid-template-columns: 320px 590px
			column-gap: 50px
	.resume
		&__wrapper
			padding: 60px 20px 0 20px
			column-gap: 60px
		&__column
			ul
				li::before
					top: -8px
	.skills
		&__items
			grid-template-columns: repeat(auto-fit, 270px)
			justify-content: space-around
		&__ratings
			grid-template-columns: repeat(auto-fit, 350px)
			justify-content: space-around
	.portfolio 
		&__wrapper
			grid-template-columns: repeat(auto-fit, 280px)
			justify-content: space-around
			row-gap: 20px
			.vertical
				grid-row: unset
				grid-column: unset
			.horizontal
				grid-column: unset


@media ( max-width: 992px )
	.container
		max-width: 720px
	.promo
		background: url("../img/main_bg.jpg") 70%/cover
		&__title
			width: 420px
			margin: 0
	.title
		&_fz48
			font-size: 36px
			line-height: 60px
	.about
		&__wrapper
			grid-template-columns: 320px 370px
			column-gap: 40px
		&__skills
			grid-row: unset
			grid-template-columns: 1fr
			grid-template-rows: minmax(116px, auto)
			grid-auto-rows: minmax(116px, auto)
	.resume
		&__wrapper
			grid-template-columns: repeat(2, 340px)
			column-gap: 40px
	.price
		&__wrapper
			padding-right: 0
			padding-left: 0
			grid-template-columns: repeat(2, 350px)


@media ( max-width: 768px )
	.container
		max-width: 540px
	.promo
		background: url("../img/main_bg.jpg") 60%/cover
		&__title
			width: 376px
	.menu
		&__block
			width: 250px
			padding-left: 20px
	.about
		padding-top: 40px
		.title
			&_fz36
				margin-top: 26px
		&__wrapper
			grid-template-columns: auto
			grid-template-rows: 340px
		&__photo
			grid-row: unset
		&__skills
			grid-column: unset
			grid-template-columns: auto
			&-item
				grid-template-columns: 40px 300px
	.title
		&_fz48
			font-size: 26px
			line-height: 39px
		&_fz36
			font-size: 24px
			line-height: 36px
	.resume
		padding-top: 40px
		&__wrapper
			grid-template-columns: 1fr
			column-gap: unset
	.skills
		padding-top: 40px
		&__items
			padding-top: 40px
	.portfolio 
		padding-top: 40px
		&__wrapper
			margin-top: 40px
			column-gap: 40px
	.price
		&__wrapper
			grid-template-columns: repeat(auto-fit, 350px)
			justify-content: center
			row-gap: 20px


@media ( max-width: 576px )
	.container
		width: 100%
		padding: 0 10px
	.promo
		background: url("../img/main_bg.jpg") 56%/cover
		&__title
			width: auto
	.about
		&__wrapper
			row-gap: 20px
		&__skills
			&-item
				grid-template-columns: 40px 216px
	.resume
		&__wrapper
			padding-right: 0
			padding-left: 0
	.skills
		&__ratings
			grid-template-columns: repeat(auto-fit, 290px)
	.price
		&__wrapper
			grid-template-columns: repeat(auto-fit, 290px)