.resume
	padding-top: 120px
	&__title
		position: relative
		padding-top: 6px
		text-align: center
		+before_circle
		&::before
			top: 0
			left: 50%
			transform: translateX(-50%)
	&__subtitle
		padding-top: 6px
		text-align: center
	&__wrapper
		display: grid
		grid-template-columns: repeat(2, 425px)
		grid-template-rows: minmax(378px, auto)
		grid-auto-rows: minmax(380px, auto)
		column-gap: 136px
		padding: 60px 65px 0 65px
		ul
			list-style-type: none