.title
	font-weight: 700
	color: #000000
	margin: 0
	padding: 0
	&_fz12
		font-weight: 500
		font-size: 12px
		line-height: 18px
	&_fz14
		font-size: 14px
		line-height: 21px
	&_fz16
		font-size: 16px
		line-height: 24px
	&_fz20
		font-size: 20px
		line-height: 30px
	&_fz36
		font-size: 36px
		line-height: 60px
	&_fz48
		font-size: 48px
		line-height: 60px
	&_l
		position: relative
		padding-top: 1px
		padding-left: 12px
		+before_circle
	&_c
		position: relative
		padding-top: 6px
		text-align: center
		+before_circle
		&::before
			top: 0
			left: 50%
			transform: translateX(-50%)
	&__subtitle_c
		padding-top: 6px
		text-align: center