mixin about__skills-item(img, title, text)
	.about__skills-item
		.about__skills-img 
			img(src="img/icons/about/"+img, alt=title)
		div
			.about__skills-title.title.title_fz14 #{title}
			.about__skills-text.title.title_fz12 #{text}