include ../mixins/_descriptions
section.about
	.container 
		.about__wrapper 
			.about__photo 
				picture 
					source(srcset="img/webp/about.webp", type="image/webp")
					img(src="img/about.jpg", alt="about")
			.about__descr 
				.title.title_l.title_fz16 Про меня
				.title.title_fz36 Меня зовут Александра
				.divider.divider_l 
				.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
			.about__skills
				+about__skills-item('web_development.svg', 'Web-разработка', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				+about__skills-item('mobile_dev.svg', 'Разработка приложений', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				+about__skills-item('design.svg', 'Web-разработка', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')