section.portfolio 
	.container 
		h2.title_c.title.title_fz16 Портфолио
		h3.title__subtitle_c.title.title_fz36 Мои работы
		.divider
		.portfolio__wrapper 
			+portfolio__item('uber','/uber')
			+portfolio__item('pulse', '/pulse')
			+portfolio__item('bread', '#')
			+portfolio__item('plans', '#', 'vertical')
			+portfolio__item('ipad', '#')
			+portfolio__item('mac', '#', 'horizontal')