section.price
	.container 
		h2.title_c.title.title_fz16 Прайс-лист
		.divider
		.price__wrapper 
			+price__item('Landing-page', '8000', 'Одностраничный сайт для презентации услуг/товаров/...')
			+price__item('Корпоративный сайт', '20000', 'Сайт для вашего бизнеса или компании')
			+price__item('Интернет-магазин', '30000', 'Инструмент для ваших продаж в сети')
			+price__item('Web-приложение', '28000', 'Приложение внутри браузера для лучшего комфорта')
			+price__item('Android/IOS Приложение', '25000', 'Приложение для смартфона любой ОС')
			+price__item('Дизайн', 'Индивидуально', 'Создам дизайн для вашего сайта/приложения...')