section.promo 
	include _hamburger
	.container 
		.title.title_fz16.promo__subtitle Меня зовут Александра Смит
		h1.title.title_fz48.promo__title Я web-разработчик из города Москва
		.promo__links 
			a.promo__link.btn(href="#") Портфолио
			a.promo__link(href="#") Про меня