.promo 
	include _gamburger
	.container 
		.title.title_fz16 Меня зовут Александра Смит
		.title.title_fz48 Я web-разработчик из города Москва
		.promo__links 
			a.promo__link(href="#") Портфолио
			a.promo__link(href="#") Про меня