section.resume 
	.container 
		h2.resume__title.title.title_fz16 Опыт
		h3.resume__subtitle.title.title_fz36 Чем я буду полезна
		.divider
		.resume__wrapper
			.resume__column
				.resume__column-title.title.title_fz20 Образование
				ul 
					li
						+resume__item('university', 'МГТУ им. Н. Э. Баумана', 'Диплом магистра | Москва (2014-2020)', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. ')
					li 
						+resume__item('courses', 'Udemy', 'Курсы по Web-разработке', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. ')
			.resume__column
				.resume__column-title.title.title_fz20 Опыт работы
				ul 
					li
						+resume__item('developer', 'Front-End Developer', 'EPAM | Москва (2018-2019)', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. ')
					li 
						+resume__item('designer', 'UI/UX Designer', 'Squad Team | Москва (2018)', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. ')