section.skills 
	.container 
		h2.title_c.title.title_fz16 Навыки
		h3.title__subtitle_c.title.title_fz36 Что я использую в работе
		.divider
		.skills__items
			+skills__item('html5', 'HTML5', 'Именно он создает каркас вашего сайта или приложения, а пятая версия позволит мне создавать более SEO-оптимизированную структуру вашего продукта')
			+skills__item('css3', 'CSS3', 'Этот язык стилей позволяет мне создавать абсолютно любой внешний вид вашего сайта или приложения. Все ограничивается только вашей фантазией!')
			+skills__item('JS', 'Java Script', 'Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое')
			+skills__item('Jquery', 'Jquery', 'Библиотека Jquery позволит ускорить разработку. Без необходимости интегрировать в проект мы её не будем, но навык работы с ней присутствует')
			+skills__item('React', 'React', 'Эта библиотека позволяет создавать web-приложения. Мы можем создать максимально интерактивный продукт именно под ваши цели')
			+skills__item('Node.js', 'Node.js', 'Эта платформа позволяет создавать бэкенд для вашего продукта - “мозги”, которые будут выполнять действия, которые пользователь не видит')
			+skills__item('mongoDB', 'Mongo.db', 'Это нереляционная база данных, которая будет хранить данные вашего сайта или приложения')
		.skills__ratings
			+skills__ratings-item('Создание сайтов', '100%')
			+skills__ratings-item('Создание приложений', '85%')
			+skills__ratings-item('Работа с данными', '90%')
			+skills__ratings-item('Креативность', '75%')
			+skills__ratings-item('Создание дизайна', '90%')
			+skills__ratings-item('Soft skills', '95%')
